## Часть 1: Введение в Pandas

Pandas - это библиотека Python для работы с данными. Она предоставляет мощные инструменты для анализа и манипуляции данными.

### Установка Pandas

Для начала убедитесь, что у вас установлена библиотека Pandas. Если ее нет, установите ее с помощью команды:

In [ ]:
!pip install pandas

## Импорт библиотеки
Давайте начнем с импорта библиотеки Pandas:

In [1]:
import pandas as pd

## Часть 2: Работа с данными
### Чтение данных
Мы будем использовать датасет Titanic. Давайте прочитаем данные из CSV файла.

In [ ]:
data = pd.read_csv('titanic.csv')
print(data)

### Предпросмотр данных
Для первого ознакомления с данными давайте выведем первые несколько строк.

In [ ]:
file = pd.read_csv('titanic.csv')
print(file.head())

### Информация о данных
Чтобы получить общую информацию о данных, воспользуйтесь методом .info().

In [ ]:
file = pd.read_csv('titanic.csv')
print(file.info())

### Работа с NaN
Часто данные содержат пропущенные значения, которые представляются как NaN (Not a Number). Pandas предоставляет удобные методы для работы с ними.

Проверка на наличие NaN. Методы fillna и dropna возвращают новые Dataframe, проверьте нет ли в них NaN

In [2]:
file = pd.read_csv('titanic.csv')
print(file.isna().sum())

Заполнение NaN

In [ ]:
file = pd.read_csv('titanic.csv')
print(file.fillna(0).head())

Удаление строк с NaN

In [3]:
file = pd.read_csv('titanic.csv')
print(file.dropna().head())

## Часть 3: Обработка DataFrame
### Выбор данных
Pandas позволяет выбирать данные по индексам, меткам столбцов и условиям.

In [4]:
import pandas as pd

file = pd.read_csv('titanic.csv')

print(file['Age'])

print(file[['Name', 'Age']])

print(file.loc[10])

print(file[(file['Sex'] == 'male') & (file['Age'] > 30)])

### Сортировка данных
Сортировка данных по значениям столбцов.

In [5]:
file = pd.read_csv('titanic.csv')
print(file.sort_values(by='Age'))

### Группировка данных
Pandas также позволяет группировать данные и выполнять агрегирующие операции.

In [6]:
file = pd.read_csv('titanic.csv')
print(file.groupby('Pclass')['Survived'].mean())

## Часть 4: Задания для практики
Прочитайте данные из файла 'titanic.csv'.
Проверьте, есть ли пропущенные значения в данных и заполните их нулями.
Выведите первые 10 строк данных.
Выберите только те строки, где значение в столбце 'Age' больше 30.
Отсортируйте данные по столбцу 'Fare' в порядке убывания.
Сгруппируйте данные по столбцу 'Pclass' и вычислите средний возраст ('Age') для каждого класса.

In [ ]:
import pandas as pd

file = pd.read_csv('titanic.csv').fillna(0)

print("Первые 10 строк данных:")
print(file.head(10))

print("\n\nСтроки, где возраст больше 30:")
print(file[file['Age'] > 30])

print("\n\nДанные, отсортированные по столбцу 'Fare' в порядке убывания:")
print(file.sort_values(by='Fare', ascending=False))

print("\nСредний возраст для каждого класса Pclass:")
print(file.groupby('Pclass')['Age'].mean())